.pagecontainer{
    width: 100%;
    height: 100vh !important;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col4{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.col4 figure{
    /* border: 2px solid black; */
    width: 100%;
    height: 23%;
}

.col4 figure img{
    width: 100%;
    height: 100%;
}

.bigimg{
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
}

.bigimg img{
    width: 100%;
    height: 100%;
}